@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic|Raleway:400,600|Source+Serif+Pro:400,700");
*, *:before, *:after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  font-family: "Raleway"; }

h3 {
  font-family: "Source Serif Pro"; }

nav {
  background: #790000;
  font-family: "Source Sans Pro";
  font-size: 1em; }
  nav a {
    color: #FFF;
    text-decoration: none;
    -webkit-transition: color .15s linear;
    -moz-transition: color .15s linear;
    transition: color .15s linear; }
  nav a:hover {
    color: #0E1333; }

header {
  background-image: url("../images/flaga.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  font-size: 1.2em;
  color: #0E1333;
  padding-top: 70px;
  text-align: center; }
  header h1 {
    font-family: "Source Serif Pro";
    padding-bottom: 0;
    margin-bottom: .2em; }
  header h2 {
    font-family: "Source Sans Pro";
    font-style: italic;
    padding-top: 0;
    margin: 0; }
  header img {
    float: left;
    height: 12em; }
  @media (max-width: 650px) {
    header {
      background-size: 250%;
      font-size: 1em;
      padding-top: 50px;
      position: relative; }
      header .heading-wrapper {
        padding-top: 0;
        margin-bottom: -1em; }
      header img {
        height: 5em;
        float: none;
        position: absolute;
        top: 0;
        left: 0; } }
  header .menu {
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family: "Source Sans Pro";
    font-size: 1.5em;
    background-color: #FFF; }
    header .menu ul {
      border: 1px solid #000000;
      background: #790000;
      padding: 0; }
      header .menu ul li {
        width: 10%;
        display: inline-block;
        margin: 0 auto;
        position: relative; }
        header .menu ul li a {
          margin: 0 0 2px 0;
          margin: 0;
          font-size: .7em;
          display: block;
          color: #ffffff;
          text-shadow: 0 1px 1px #000;
          background: inherit;
          transition: background .25s ease; }
          header .menu ul li a span {
            display: block;
            padding: 8px 10px;
            font-weight: bold; }
        header .menu ul li a:hover {
          text-decoration: none;
          background-color: #27286c; }
      header .menu ul li:hover {
        background: rgba(121, 0, 0, 0.7); }
      header .menu ul li:last-child {
        border-right: 0 none; }
        header .menu ul li:last-child ul {
          left: auto;
          right: 0; }
      header .menu ul li.mobile {
        display: none;
        border-right: 0 none; }
      header .menu ul li.active {
        border-bottom: none;
        background: #27286c; }
        header .menu ul li.active a {
          color: #ffffff;
          text-shadow: 0 1px 1px #000; }
      header .menu ul ul {
        background: #f9f9f9;
        border: 1px solid #cccccc;
        padding: 5px 12px;
        display: none;
        position: absolute;
        left: 0;
        top: calc(1.5em + 3px);
        width: 200px;
        z-index: 1; }
        header .menu ul ul li {
          padding: 3px 0;
          width: 100%; }
        header .menu ul ul a {
          color: #000;
          display: block;
          font-size: 12px;
          font-weight: bold; }
        header .menu ul ul a:hover {
          color: #FF530D;
          background-color: #000000; }
    header .menu ul::after {
      clear: both;
      content: ''; }
    @media (max-width: 650px) {
      header .menu ul {
        max-height: 32px;
        overflow: hidden;
        -webkit-transition: max-height 0.5s;
        transition: max-height 0.5s; }
        header .menu ul li {
          border-right: 0 none;
          float: none;
          width: 100%;
          margin-top: 4px; }
        header .menu ul li.mobile {
          display: block;
          font-size: 1.4em; }
          header .menu ul li.mobile i {
            float: right;
            margin-right: 5px;
            color: #FFF;
            transition: color .25s ease; }
          header .menu ul li.mobile i:hover {
            color: #0E1333; }
        header .menu ul ul {
          position: relative;
          top: 0;
          width: 100%; } }
    header .menu a {
      color: #FFF;
      text-decoration: none;
      line-height: 1.5; }
  @media (max-width: 650px) {
    header .menu.expand ul {
      max-height: 900px; } }

.social {
  position: absolute;
  right: 0; }
  .social i {
    width: 100%;
    font-size: 2.5em; }
  .social .fa-facebook-square {
    color: #3b5998; }
  .social .fa-twitter-square {
    color: #55acee; }
  .social .fa-facebook-square, .social .fa-twitter-square {
    transition: color .15s linear; }
  .social .fa-facebook-square:hover {
    color: #2D3544; }
  .social .fa-twitter-square:hover {
    color: #2B3841; }
  @media (max-width: 650px) {
    .social i {
      font-size: 2em; } }

.content {
  padding: 5px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.5em; }
  .content h2 {
    font-family: "Source Serif Pro";
    color: #0E1333;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase; }
  .content section {
    padding: 15px;
    padding-top: 0; }
  .content a {
    text-decoration: none;
    color: black;
    font-weight: bold; }
  .content .three-col-container {
    clear: both; }
    .content .three-col-container section {
      float: left;
      width: 33%; }
      .content .three-col-container section img {
        max-width: 100%; }
    @media (max-width: 650px) {
      .content .three-col-container section {
        width: 100%; }
      .content .three-col-container img {
        width: 100%; } }
  .content .thirty-sixty-container section {
    float: left; }
  .content .thirty-sixty-container section.thirty {
    width: 33%; }
  .content .thirty-sixty-container section.sixty {
    width: 64%; }
  @media (max-width: 650px) {
    .content .thirty-sixty-container section:first-of-type, .content .thirty-sixty-container section:last-of-type {
      width: 100%; } }
  .content .fifty-fifty-container {
    margin-bottom: 30px;
    clear: both; }
    .content .fifty-fifty-container section {
      width: 50%;
      float: left; }
      .content .fifty-fifty-container section ul {
        width: 90%; }
    .content .fifty-fifty-container img {
      width: 35%;
      max-height: 200px;
      margin: 20px;
      margin-top: 0;
      float: left; }
    .content .fifty-fifty-container p.fifty-fifty {
      float: left;
      margin: 1em; }
    .content .fifty-fifty-container iframe {
      padding-top: 1.5em; }
    @media (max-width: 650px) {
      .content .fifty-fifty-container section {
        width: 100%; }
      .content .fifty-fifty-container img {
        width: 100%; } }
  .content .meeting-info {
    width: 100%;
    padding: 2em;
    text-align: center;
    font-family: "Source Sans Pro";
    color: #0E1333;
    border-bottom: 2px solid #0E1333;
    border-top: 2px solid #0E1333; }

.clearFix {
  clear: both; }

.partners {
  width: 90%;
  margin: 0 auto; }
  .partners a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em; }
  .partners li {
    margin-bottom: 1em;
    list-style-image: url("../images/li_placeholder.jpg"); }
  @media (max-width: 650px) {
    .partners {
      width: 100%;
      padding-left: 0; }
      .partners ul {
        width: 90%;
        padding-left: 1em;
        margin-bottom: 2em; }
      .partners li {
        list-style-type: none;
        list-style-image: none; } }

.events {
  width: 80%;
  max-width: 800px;
  margin: 0 auto; }
  .events p {
    font-size: 1.3em;
    margin-top: 0; }
  .events section {
    margin: 0 auto;
    width: 70%; }
  .events img {
    width: 100%;
    margin: 0 auto; }
  @media (max-width: 650px) {
    .events {
      width: 100%;
      max-width: 500px; }
      .events iframe {
        width: 100%; }
      .events section {
        width: 100%; } }

.youth .thirty-sixty-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }
  .youth .thirty-sixty-container img {
    float: left;
    margin: 20px; }
  .youth .thirty-sixty-container img:first-of-type {
    width: calc(35% - 20px); }
  .youth .thirty-sixty-container img:last-of-type {
    width: calc(55% - 20px); }
  @media (max-width: 650px) {
    .youth .thirty-sixty-container img:first-of-type, .youth .thirty-sixty-container img:last-of-type {
      width: 100%; } }

.three-pic-row, .four-pic-row {
  clear: both;
  width: 90%;
  margin: 0 auto; }
  .three-pic-row figure, .four-pic-row figure {
    float: left;
    margin: 10px;
    text-align: center; }
  .three-pic-row img, .four-pic-row img {
    width: 100%; }
  .three-pic-row figcaption, .four-pic-row figcaption {
    width: 100%;
    clear: both; }

.three-pic-row figure {
  width: 21%;
  margin: 10px calc(30% / 6 + 10px); }
@media (max-width: 650px) {
  .three-pic-row {
    width: 100%; }
    .three-pic-row figure {
      width: 60%;
      float: none;
      margin: 0 auto;
      margin-bottom: 2em; } }

.four-pic-row figure {
  width: 21%;
  margin: 10px calc(10% / 12 + 10px); }
  @media (max-width: 650px) {
    .four-pic-row figure {
      width: 60%;
      float: none;
      margin: 0 auto;
      margin-bottom: 2em; } }

.gallery {
  width: 50%;
  float: left;
  text-align: center; }
  .gallery h3 {
    font-size: 1.7em; }
  .gallery img {
    width: 90%; }
  @media (max-width: 650px) {
    .gallery {
      width: 100%; } }

footer {
  clear: both;
  width: 100%;
  background-image: url("../images/footer-flag.jpg");
  padding-bottom: 150px;
  padding-top: 10px; }
  footer nav {
    width: 100%;
    margin: 0 auto;
    text-align: center; }
    footer nav ul {
      padding-left: 0; }
      footer nav ul li {
        display: inline-block;
        width: 15%;
        margin: 0 auto;
        margin-left: 0;
        padding: 10px;
        padding-left: 0; }

/*# sourceMappingURL=styles.css.map */
