@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic|Raleway:400,600|Source+Serif+Pro:400,700");

$red: #790000;
$blue: #0E1333;
$facebook: #3b5998;
$twitter: #55acee;
$facebook-dark: #2D3544;
$twitter-dark: #2B3841;
$serif: "Source Serif Pro";
$sans: "Source Sans Pro";
$raleway: "Raleway";

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: $raleway;
}

h3 {
	font-family: $serif;
}

nav {
	background: $red;
	font-family: $sans;
	font-size: 1em;

	ul {
		li {
			// display: inline-block;
			// padding: 10px;
			// margin: 0 auto;
		}
	}

	a {
		color: #FFF;
		text-decoration: none;
		-webkit-transition: color .15s linear;
		-moz-transition: color .15s linear;
		transition: color .15s linear;
	}

	a:hover {
		color: $blue;
	}
} //end nav

header {
	background-image: url("../images/flaga.jpg");
	background-size: 110%;
	background-repeat: no-repeat;
	font-size: 1.2em;
	color: $blue;
	padding-top: 70px;
	text-align: center;

	h1 {
		font-family: $serif;
		padding-bottom: 0;
		margin-bottom: .2em;
	}

	h2 {
		font-family: $sans;
		font-style: italic;
		padding-top: 0;
		margin: 0;
	}

	img {
		float: left;
		height: 12em;
	}

	@media(max-width: 650px) {
		background-size: 250%;
		font-size: 1em;
		padding-top: 50px;
		position: relative;
		.heading-wrapper {
			padding-top: 0;
			margin-bottom: -1em;
		}
		img {
			height: 5em;
			float: none;
			position: absolute;
			// bottom: -1.5em;
			top: 0;
			left: 0;
		}
	}

	//header nav
	.menu {
		padding: 0;
		border: 0;
		list-style: none;
		font-weight: normal;
		text-decoration: none;
		line-height: 1;
		font-family: $sans;
		font-size: 1.5em;
		background-color: #FFF;

		ul {
			border: 1px solid #000000;
			background: $red;
			padding: 0;

			li {
				width: 10%;
				display: inline-block;
				margin: 0 auto;
				position: relative;

				a {
					margin: 0 0 2px 0;
					margin: 0;
					font-size: .7em;
					display: block;
					color: #ffffff;
					text-shadow: 0 1px 1px #000;
					background: inherit;
					transition: background .25s ease;

					span {
						display: block;
						padding: 8px 10px;
						font-weight: bold;
					}
				}

				a:hover {
					text-decoration: none;
					background-color: #27286c;
				}
			}

			li:hover {
				background: rgba(121, 0, 0, 0.7);
			}

			li:last-child {
				border-right: 0 none;
				ul {
					left: auto;
					right: 0;
				}
			}

			li.mobile {
				display: none;
				border-right: 0 none;
			}

			li.active {
				border-bottom: none;
				background: #27286c;

				a {
					color: #ffffff;
					text-shadow: 0 1px 1px #000;
				}
			}

			ul {
				background: #f9f9f9;
				border: 1px solid #cccccc;
				padding: 5px 12px;
				display: none;
				position: absolute;
				left: 0;
				top: calc(1.5em + 3px);
				width: 200px;
				z-index: 1;

				li {
					padding: 3px 0;
					width: 100%;
				}

				a {
					color: #000;
					display: block;
					font-size: 12px;
					font-weight: bold;
				}

				a:hover {
					color: #FF530D;
					background-color: #000000;
				}
			}
		}

		ul::after {
		  clear: both;
		  content: '';
		}

		@media(max-width: 650px) {
			ul {
				max-height: 32px;
				overflow: hidden;
				-webkit-transition: max-height 0.5s;
				transition: max-height 0.5s;

				li {
					border-right: 0 none;
					float: none;
					width: 100%;
					margin-top: 4px;

				}

				li.mobile {
					display: block;
					font-size: 1.4em;

					i {
						float: right;
						margin-right: 5px;
						color: #FFF;
						transition: color .25s ease;
					}

					i:hover {
						color: $blue;
					}
				}

				ul {
					position: relative;
					top: 0;
					width: 100%;
				}
			}
		}

		a {
			color: #FFF;
			text-decoration: none;
			line-height: 1.5;
		}
	} //end header nav

	@media(max-width: 650px) {
		.menu.expand ul {
				max-height: 900px;
			}
	}

} //end header

.social {
	// float: right;
	// margin-left: 1em;
	position: absolute;
	right: 0;

	i {
		width: 100%;
		font-size: 2.5em;
	}

	.fa-facebook-square {
		color: $facebook;
	}

	.fa-twitter-square {
		color: $twitter
	}

	.fa-facebook-square, .fa-twitter-square {
		transition: color .15s linear;
	}

	.fa-facebook-square:hover {
		color: $facebook-dark;
	}

	.fa-twitter-square:hover {
		color: $twitter-dark;
	}

	@media(max-width: 650px) {
		i {
			font-size: 2em;
		}
	}
} //end social

.content {
	h2 {
		font-family: $serif;
		color: $blue;
		text-align: center;
		font-size: 2em;
		text-transform: uppercase;
	}
	padding: 5px;
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	line-height: 1.5em;

	section {
		padding: 15px;
		padding-top: 0;
	}

	a {
		text-decoration: none;
		color: black;
		font-weight: bold;
	}

	.three-col-container {
		clear: both;

		section {
			float: left;
			width: 33%;

			img {
				max-width: 100%;
			}
		}

		@media(max-width: 650px) {
			section {
				width: 100%;
			}

			img {
				width: 100%;
			}
		}

	} //end .three-col-container

	.thirty-sixty-container {
		section {float: left;}

		section.thirty {
			width: 33%;
		}

		section.sixty {
			width: 64%;
		}

		@media(max-width: 650px) {
			section:first-of-type, section:last-of-type {
				width: 100%;
			}
		}
	} //end .thirty-sixty-container

	.fifty-fifty-container {
		margin-bottom: 30px;
		clear: both;

		section {
			width: 50%;
			float: left;

			ul {
				width: 90%;
			}
		}

		img {
			width: 35%;
			max-height: 200px;
			margin: 20px;
			margin-top: 0;
			float: left;
		}

		p.fifty-fifty {
			float: left;
			margin: 1em;
		}

		iframe {
			padding-top: 1.5em;
		}

		@media(max-width: 650px) {
			section {
				width: 100%;
			}

			img {
				width: 100%;
			}
		} //end max-width: 650px media query

	} //end .fifty-fifty-container

	.meeting-info {
		width: 100%;
		padding: 2em;
		text-align: center;
		font-family: $sans;
		color: $blue;
		border-bottom: 2px solid $blue;
		border-top: 2px solid $blue;
	}

} //end .content

.clearFix {
	clear: both;
}

.partners {
	width: 90%;
	margin: 0 auto;

	a {
		color: #000;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.4em;
	}

	li {
		margin-bottom: 1em;
		list-style-image: url("../images/li_placeholder.jpg");
	}

	@media(max-width: 650px) {
		width: 100%;
		padding-left: 0;
		ul {
			width: 90%;
			padding-left: 1em;
			// margin-left: 0;
			margin-bottom: 2em;
		}

		li {
			list-style-type: none;
			list-style-image: none;
		}
	}
} //end partners

.events {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;

	p {
		// font-weight: bold;
		font-size: 1.3em;
		margin-top: 0;
	}

	section {
		margin: 0 auto;
		width: 70%;
	}

	img {
		width: 100%;
		margin: 0 auto;
	}

	@media(max-width: 650px) {
		width: 100%;
		max-width: 500px;

		iframe {
			width: 100%;
		}

		section {
			width: 100%;
		}
	}
}

.youth {

	.thirty-sixty-container {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;

		img {
			float: left;
			margin: 20px;
		}

		img:first-of-type {
			width: calc(35% - 20px);
		}

		img:last-of-type {
			width: calc(55% - 20px);
		}

		@media(max-width: 650px) {
			img:first-of-type, img:last-of-type {
				width: 100%;
			}
		}
	}
} //end .youth

.three-pic-row, .four-pic-row {
	clear: both;
	width: 95%;
	margin: 0 auto;

	figure {
		float: left;
		margin: 10px;
		text-align: center;
	}

	img {
		width: 100%;
	}

	figcaption {
		width: 100%;
		clear: both;
	}
}

.three-pic-row {

	figure {
		width: 21%;
		margin: 10px calc(18% / 6 + 10px);
	}

	@media(max-width: 650px) {
		width: 100%;
		figure {
			width: 60%;
			float: none;
			margin: 0 auto;
			margin-bottom: 2em;
		}
	}
}

.four-pic-row figure {
	width: 20%;

	@media(max-width: 650px) {
		width: 60%;
		float: none;
		margin: 0 auto;
		margin-bottom: 2em;
	}
}

.gallery {
	width: 50%;
	float: left;
	text-align: center;

	h3 {
		font-size: 1.7em;
	}

	img {
		width: 90%;
	}

	@media(max-width: 650px) {
		width: 100%;
	}
}

footer {
	clear: both;
	width: 100%;
	background-image: url("../images/footer-flag.jpg");
	padding-bottom: 150px;
	padding-top: 10px;

	nav {
		width: 100%;
		margin: 0 auto;
		text-align: center;

			ul {
				padding-left: 0;
			li {
				display: inline-block;
				width: 15%;
				margin: 0 auto;
				margin-left: 0;
				padding: 10px;
				padding-left: 0;
			}
		} //end ul

	} //end footer nav

} //end footer